@model GrantsViewModel


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
    <li class="breadcrumb-item active">Manage Applications</li>

</ol>

<div class="grants">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Client Application Access
            </h1>
            <div>Below is the list of applications you have given access to and the names of the resources they have access to.</div>
        </div>
    </div>

    @if (Model.Grants.Any() == false)
    {
        <div class="row">
            <div class="col-sm-8">
                <div class="alert alert-info">
                    You have not given access to any applications
                </div>
            </div>
        </div>
    }
    else
    {
        foreach (var grant in Model.Grants)
        {

            <div class="container-fluid">
                <div id="ui-view" style="opacity: 1;">
                    <div class="animated fadeIn row">
                        <div class="col-6 col-sm-4 col-md-3">
                            <div class="card">
                                <div class="card-header">
                                    <form asp-action="Revoke">
                                        @grant.ClientName
                                        <input type="hidden" name="clientId" value="@grant.ClientId">
                                        <button class="btn btn-danger btn-sm float-right">Revoke</button>
                                    </form>
                                </div>
                                <div class="card-body row">
                                    <div class="col-12 col-md-4">
                                        @if (grant.ClientLogoUrl != null)
                                        {
                                            <img src="@grant.ClientLogoUrl">
                                        }
                                        else
                                        {
                                            <img src="~/images/logo.png" width="100%" />
                                        }
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <div>
                                            <div class="granttype">App has access to</div>
                                            <ul>
                                                @foreach (var name in grant.IdentityGrantNames)
                                                {
                                                    <li>@name</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <span class="created">Created:</span> @grant.Created.ToString("yyyy-MM-dd")
                                    @if (grant.Expires.HasValue)
                                    {
                                        <br />
                                        <span class="expires">Expires:</span> @grant.Expires.Value.ToString("yyyy-MM-dd")

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
